html, body{
    background: #fff;
    text-align: center;
    //cursor: none !important;
    
    .ref{
        z-index: 0;
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        height: 600px;
        width: 1050px;
        border: 1px dashed #888;
    }
    
    canvas:focus{
        outline: none;
    }
    
    h1{
        text-align: center;
        margin: 0;
    }
    
}



@import "0-base/normalize";
@import "0-base/vars";
//@import "0-base/layout";

@import "1-modules/cursor";
@import "1-modules/target";
