html, body{
    background: #eee;
    text-align: center;
    cursor: none !important;
    
    .ref{
        height: 10px;
        width: 10px;
        background: red;
    }
}



@import "0-base/normalize";
@import "0-base/vars";
//@import "0-base/layout";

@import "1-modules/cursor";
@import "1-modules/target";
