.box-group{
    position: absolute;
    
    &.one{
        animation: scroll 5s linear infinite;
        @-webkit-keyframes scroll {
          0%   { top: 0px; }
          100%  { top: -340px; }
        }
    }
    &.two{
        animation: scroll2 5s linear infinite;
        @-webkit-keyframes scroll2 {
          0%    { top: 340px; }
          100%  { top: 0px; }
        }
    }
    &.three{
        animation: scroll3 5s linear infinite;
        @-webkit-keyframes scroll3 {
          0%    { top: 680px; }
          100%  { top: 340px; }
        }
    }
}

.box{
    float: left;
    height: 340px;
    width: 178px;
    border: 1px solid black;
    
    &.target{
        background: red;
    }
    
}


.board{
    position: relative;
    background: pink;
    height: 340px;
    width: 540px;
    overflow: hidden;
    margin: auto;
}